<%- include('partials/header') %>
<h1><%= postTitle%> </h1>
<p style="white-space: pre-line"> <%= postContent %></p>

<form action="/delete" method="POST">
    <button class="btn btn-danger" type="submit">delete</button>
</form>

<%- include('partials/footer') %>